body,
#root,
.application {
    background-color: #F0F0F0;
    font-family: 'Gothic A1', sans-serif;
    height: 100%;
    width: 100%;
    .page-content {
       
        height: 100%;
        @media screen and (min-width: 1366px) {
            margin: auto;
            width: 1366px;    
        }

        & .header1 {
            font-size: 36px
        }
        & .header2 {
            font-size: 24px
        }
        & .header3 {
            font-size: 20px
        }
        & .header4 {
            font-size: 16px
        }
        & .header5 {
            font-size: 14px
        }
    }
}
